.jumbotron h1 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
}

.jumbotron p {
  font-family: 'Times New Roman', Times, serif;
  color: bisque
}

.jumbotron {
  text-indent: 1%;
  padding-top: 3%;
  height: 250px;
}

.me {
  height: 250px;
  float:right;
  padding-top:0%;
}

.jumbotron a:link {
  text-decoration:underline;
}