.jumbotron h1 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
}

.jumbotron p {
  font-family: 'Times New Roman', Times, serif;
  color: bisque
}

.jumbotron {
  padding-top: 3%;
  height: 250px;
  margin-bottom: 0%;
  text-indent: -25%;
}

.me {
  height: 250px;
  float:right;
  padding-top:0%;
}

.jumbotron a {
  line-height: 5px;
}

.jumbotron a:link {
  text-decoration:underline;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0%;
  padding: 1%
}

.sidebar {
  height: 100%;
  width: 180px;
  position: absolute;
  z-index: 1;
  top:250px auto;
  background-color: black;
  margin-top: 0%;
  margin-left: 0%;
  padding-left: 0%;
  left: 0;
  text-align:center;
}

.sidebar a {
  padding: 16px;
  font-size: 15px;
  line-height: 30px;
  color: blueviolet;
}

.sidebar a:hover {
  color:rgb(32, 124, 4)
}

.sidebar h2 {
  color:rgb(84, 133, 133);
}

.main {
  margin-left: 180px;
  padding: 20px;
  border:5px solid aquamarine;
  border-right: 0px;
  border-bottom: 0px;
  background-color: rgba(233, 139, 17, 0.144);
}

.main p {
  text-indent: 10px;
}

.main h4 {
  font-size: medium;
  text-decoration: underline;
}

.languages {
  color:red;
}

.main h5 {
  text-align: center;
}

.container {
  text-align: left;
}

.main2 {
  padding: 20px;
  border:5px solid aquamarine;
  border-right: 0px;
  border-bottom: 0px;
  background-color: rgba(233, 139, 17, 0.144);
}

.main2 p {
  text-indent: 10px;
}

.main2 h4 {
  font-size:medium;
  text-decoration: underline;
}

.main2 h5 {
  text-align: center;
}